* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff3366;
}

nav {
  display: flex;
  padding: 12px 16px;
  gap: 12px;
}

nav img {
  height: 36px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 auto;

  list-style: none;
}

.btn {
  padding: 12px 34px;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

nav ul a {
  padding: 10px 24px;
}

nav ul a:hover {
  background-color: rgba(140, 140, 140, 0.2);
}

section {
  padding: 100px 16px;
  display: flex;
  gap: 60px;
}

.product-detail-container {
  flex: 1 0 calc(75% - 60px);
}

.product-categories-container {
  flex: 0 0 25%;
}

.product-info-container {
  display: flex;
  gap: 40px;
}

.product-info-container > img {
  flex: 0 0 40%;
  width: 40%;
}

.product-detail {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart-container {
  display: flex;
  gap: 20px;
}

.counter {
  display: flex;
  border: 1px solid #ced4da;
  border-radius: 5px;
  height: 42px;
}

.counter > * {
  height: 100%;
}

.counter button {
  border: none;
  border-radius: 0;
}

.counter input {
  width: 48px;
}

.product-description-container {
  margin-top: 50px;
}

.tab-button-container {
  display: flex;
}

.tab-button-container .tab-item {
  flex: 1 0 33%;
}

.tab-item {
  padding: 14px 0;
  height: 55px;
  border: none;
}

.tab-item.selected {
  background-color: var(--primary-color);
  color: white;
}
