.counter {
  $border-radius: 5px;

  display: inline-flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: $border-radius;

  & &-btn {
    $size: 32px;

    min-width: $size;
    height: $size;
    border: none;
    cursor: pointer;
    background-color: lightgray;
    color: white;
    font-size: 20px;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
    }

    &:hover {
      background-color: aqua;
    }
  }

  & &-number {
    width: 32px;
    text-align: center;
  }
}
