.main-layout {
  height: 903px;
  width: 1519px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  padding: 81px;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #272b33;
  color: white;
}
